<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title><!--Have to make this dynamic-->
    
</head>
<body>
    {{> header}}
    
   <!-- <h1>{{pageTitle}}</h1><!--Have to make this dynamic-->
    <!--using a helper and sending the bodytext as an arg-->
    <p>{{screamIt bodyText}}</p><!--Have to make this dynamic-->
<!--using from patial-->
    {{> footer}}
</body>
</html>