<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title><!--Have to make this dynamic-->
    
</head>
<body>
<h1>We'll be right back</h1>
<p>This site is currently under maintenance, we apologize for any inconvenience</p>
</body>
</html>